body {
    background: url(../assets/f1472f334b2df7c0002176ddf26ca638.jpg);
}

.card-container {
    width: 50vw;
    margin: 15vh 29vw 0 21vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 35px;
}

.fullScreen {
    box-shadow: 0px 1px 0px 0px #f1efea00;
    background: linear-gradient(to bottom, #eae0c2 5%, #b9a97c 100%);
    background-color: #635c48;
    /* border-radius: 15px; */
    border: 2px solid #b3a27b;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.fullScreen:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.fullScreen:active {
	position:relative;
	top:1px;
}